<div class="images-viewport">
    {{view "image-collection" content=content index=index}}
</div>

{{#if isProcessing}}
    <div class="progress-bar-background">
        <div class="progress-bar-content">
            Processed <span class="highlight">{{number-format pixelsProcessed}}</span> of <span class="highlight">{{ number-format pixelCount}}</span> pixels.

            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" {{bind-attr style=progressFillStyle}}>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="controls-container">
        <div {{action "toggleTEXTp"}} {{bind-attr class=":control :button showTEXTp:active"}}>
            TEXTp
        </div>

        <div {{action "toggleViewMode"}} {{bind-attr class=":control :button showFitView::active"}}>
            Full-size
        </div>

        <div {{action "toggleViewMode"}} {{bind-attr class=":control :button showFitView:active"}}>
            Fit to view 
        </div>

        <span class="control index">
            <strong>{{ current }}</strong> of <strong>{{ total }}</strong>
        </span>

        {{#if isPaginated}}
            <div {{action "next"}} {{bind-attr class=":control :button isNextDisabled:disabled"}}">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>

            <div {{action "previous"}} {{bind-attr class=":control :button isPreviousDisabled:disabled"}}>
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        {{/if}}
    </div>
{{/if}}
